* {
    margin: 0;
    padding: 0;
}

html {
    scroll-padding-top: 60px;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 30px;
    padding: 15px;

    background-color: #2D2D34;
}

.title {
    height: 30px;

    color: #CAD8DE;
}

.list_nav {
    display: flex;
    align-items: center;
    height: 30px;
    gap: 50px;
    
    list-style-type: none;
    color: #CAD8DE;
}

ul li a:link, a:visited, a:active {
    text-decoration: none;
    font-size: larger;
    color: #CAD8DE;
}

ul li a:hover {
    text-decoration: underline;
	color: #724CF9;
}

body{
    padding-top: 60px;
}

main {
    display: grid;
}

.b1 {
    height: 100vh;
    background-color: #714cf986;
}

.b2 {
    height: 100vh;
    background-color: #3508d771; 
}

.b3 {
    height: 100vh;
    background-color: #3508d767;
}

.title-b1 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-left: 15px;
    font-size: 25px;
    color: #2D2D34;
}

.title-b2 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-left: 15px;
    font-size: 25px;
    color: #2D2D34;
}

.title-b3 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-left: 15px;
    font-size: 25px;
    color: #2D2D34;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 30px;
    padding-left: 15px;

    background-color: #2D2D34;
    color: #CAD8DE;
}